* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif;
      font-family: 'Raleway', sans-serif; */
  font-family: "Roboto", sans-serif;
}
/*  color themes */
/* Color Theme Swatches in Hex */
.Deep-Teal-Sea-1-hex {
  color: #012E40;
}

.Deep-Teal-Sea-2-hex {
  color: #024959;
}

.Deep-Teal-Sea-3-hex {
  color: #026773;
}

.Deep-Teal-Sea-4-hex {
  color: #3CA6A6;
}

.Deep-Teal-Sea-5-hex {
  color: #F2E3D5;
}
  .bg-lessLight{
     background-color: rgb(209, 209, 209);
  }
  .bg-dimLight{
    background-color: rgb(158, 158, 158);
  }
/* ------------------------- */
body {
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

.closeChoosenCategory {
  height: 5vh;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.categoriesCont {
  height: 5vh;
  width: 100vw;
  background-color: #BF0F0F;
}
.categoriesCont li {
  height: 95%;
  list-style: none;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.categoriesCont li button {
  background: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: #fff;
}
.categoriesCont li:hover {
  border: 1px solid white;
}

.choosenCatProductsCont {
  height: 40vh;
  width: 25vw;
  background-color: #41BFB3;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 3px;
}
.choosenCatProductsCont .path {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 2px;
  font-weight: 700;
}
.choosenCatProductsCont .body .imgCont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choosenCatProductsCont .body .imgCont .smallShow {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.choosenCatProductsCont .body .imgCont .smallShow img {
  height: 5vh;
  width: 5vh;
  margin: 2px 0px;
  border: 4px solid #fff;
  background-color: #012340;
  cursor: pointer;
}
.choosenCatProductsCont .body .imgCont .largeShow {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choosenCatProductsCont .body .imgCont .largeShow img {
  width: 78%;
}
/* .choosenCatProductsCont #button-group {

} */
.choosenCatProductsCont #button-group button {
  background: none;
  border: none;
}
.navbar-search-inp form input {
  border-radius: 5px 0px 0px 5px;
}
.navbar-search-inp form button {
  border-radius: 0px 5px 5px 0px;
}

.navbarEssentials div {
  cursor: pointer;
}


/*  AccountsList.php */
/* #AccountsList{
      height: 95vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.5)),url("./img/lowes-takes-photos-Ebro7KM8jxY-unsplash\ \(1\).jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
} */

#formContLogin{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#formContLogin form{
      padding: 10px 5px;
      height: 60vh;
      width: 35vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #012340;
}

#formContLogin input{
  width: 98%;
  margin: 3px 0px;
  padding: 0.5rem 2px;
  border-radius: 2px ;
}
.getterButtons{
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid blue;
}